@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="dedication"] > p{
	font-variant: small-caps;
	margin: 3em;
	text-align: center;
}

section[epub|type~="chapter"],
section[epub|type~="part"] > h2{
	break-after: page;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

.poster p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

.poster b{
	font-size: larger;
}

#book-4 blockquote:nth-last-of-type(2) p{
	font-size: smaller;
	font-variant: none;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
